#!/usr/local/bin/make -f
STAMPDIR=winbuild/stamps
STAGINGDIR=winbuild/staging

CONFIG_OPTS=
ZBS_STAGE_DIR=$(STAGINGDIR)
ifneq (,$(findstring mingw,$(ZBS_BUILDER_TYPE)))
BUILDCMD=./balabit-unix-build
CPPFLAGS += -Dint64=__int64
ifneq (,$(build))
CONFIG_OPTS += -- --build=$(build)
endif
else
BUILDCMD=./balabit-vs-build
endif

all: binary

binary: setup configure build install

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir -p $(STAMPDIR)
	chmod +x $(BUILDCMD)
	touch $@
	sleep 1

configure: $(STAMPDIR)/stamp-configure
$(STAMPDIR)/stamp-configure: setup
	$(BUILDCMD) configure --prefix=$(ZBS_STAGE_DIR) $(CONFIG_OPTS)
	touch $@
	sleep 1

build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: configure
	$(BUILDCMD) make
	$(BUILDCMD) make check
	touch $@
	sleep 1

install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(BUILDCMD) make install
	touch $@
	sleep 1

clean:
	rm -rf $(STAMPDIR) || true
	rm -rf $(STAGINGDIR) || true
	-$(BUILDCMD) make clean

.PHONY: build binary-indep binary-arch binary install clean
